# dependencies
node_modules/

# production build
build/
dist/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/

# cache
.cache/
.eslintcache

# coverage
coverage/
